## Extracting Dam Data from barrages shape file

In [1]:
import geopandas as gpd
import pandas as pd

In [99]:
# Load the shapefile
shapefile_path = 'C:/Users/HP/OneDrive - Université Mohammed VI Polytechnique/Desktop/UM6P/Internship/The Journey/Data/QGIS/data/dams/barrages.shp'  # Replace with your shapefile pathC:/Users/HP/OneDrive - Université Mohammed VI Polytechnique/Desktop/UM6P/Internship/The Journey/Data/QGIS/data/dams/barrages.shp
gdf = gpd.read_file(shapefile_path)

In [100]:
# Ensure geometry is in a geographic coordinate system (e.g., WGS84)
gdf = gdf.to_crs(epsg=4326)

In [97]:
gdf['longitude'] = gdf.geometry.x
gdf['latitude'] = gdf.geometry.y

In [98]:
gdf['latitude']

0      32.570311
1      33.142766
2      33.507188
3      35.245242
4      34.041779
         ...
130    30.620210
131    27.637489
132    28.310682
133    28.189957
134    33.601337
Name: latitude, Length: 135, dtype: float64

In [5]:
# Select and rename the desired columns
selected_columns = {
    'nom_barrag': 'nom_barrag',
    'nom_oued': 'nom_oued',
    'capacite_i': 'capacite',
    'hauteur': 'hauteur',
    'annee_mise': 'annee_mise',
    'longitude': 'longitude',
    'latitude': 'latitude'
}

In [ ]:
# Filter and rename the columns
output_df = gdf[list(selected_columns.keys())].rename(columns=selected_columns)

In [7]:
# Export to CSV
output_df.to_csv('dams.csv', index=False)

## Dam is in which commune?
### What is the population of the commune?

In [ ]:
import geopandas as gpd

In [58]:
# Load dam and commune shapefiles
dams_gdf = gpd.read_file('C:/Users/HP/OneDrive - Université Mohammed VI Polytechnique/Desktop/UM6P/Internship/The Journey/Data/QGIS/data/dams/barrages.shp')
communes_gdf = gpd.read_file('C:/Users/HP/OneDrive - Université Mohammed VI Polytechnique/Desktop/UM6P/Internship/The Journey/Data/QGIS/data/Commune_Maroc/populaion_commune.shp')

In [60]:
dams_gdf = dams_gdf.to_crs(epsg=4326)
communes_gdf = communes_gdf.to_crs(epsg=4326)

In [61]:
# Perform spatial join: assign each dam to the commune it falls within
joined = gpd.sjoin(dams_gdf, communes_gdf, how='left', predicate='within')

In [ ]:
# Extract only required fields  
result = joined[['nom_barrag', 'nom', 'Populati_1']]

In [63]:
# Save to CSV (optional)
result.to_csv('dams_with_communes.csv', index=False)

## Dam to nearest ville

In [64]:
import geopandas as gpd
from shapely.ops import nearest_points

In [85]:
# Load dam and commune shapefiles
dams_gdf = gpd.read_file('C:/Users/HP/OneDrive - Université Mohammed VI Polytechnique/Desktop/UM6P/Internship/The Journey/Data/QGIS/data/dams/barrages.shp')
villes_gdf = gpd.read_file('C:/Users/HP/OneDrive - Université Mohammed VI Polytechnique/Desktop/UM6P/Internship/The Journey/Data/QGIS/data/villes/villes/villes.shp')

In [86]:
# Ensure both are in the same CRS (WGS84 - EPSG:4326 recommended)
dams_gdf = dams_gdf.to_crs(epsg=32630)
villes_gdf = villes_gdf.to_crs(epsg=32630)

In [87]:
# Perform spatial join to find the nearest ville to each dam
joined = gpd.sjoin_nearest(dams_gdf, villes_gdf, how='left', distance_col='dist_to_ville')

In [90]:
joined.head()

,OBJECTID,objectid_1,nom_barrag,nom_oued,capacite_i,hauteur,annee_mise,id_pays,geometry,index_right,osm_id,code,fclass,population,name,dist_to_ville
0,1,0.0,Kasbat Tadla,Oum Er Rbia,0.1,12.0,1931.0,248.0,POINT (195762.667 3608287.663),2723,2269742352,1003,village,0,Al Kamoun ⵍⴽⴰⵎⵓⵏ الكامون,3831.555006
1,2,0.0,Sidi Said Maachou,Oum Er Rbia,2.0,29.0,1929.0,248.0,POINT (23459.818 3678743.772),2650,2256335539,1003,village,0,Ben Maachou ⴱⵏ ⵎⵄⴰⵛⵓ ابن معاشه,1180.434531
2,3,0.0,Mellah,Mellah,8.8,33.0,1931.0,248.0,POINT (96765.056 3715956.522),5297,3540411631,1003,village,0,Ouled Ziyane ⵡⵍⴰⴷ ⵣⵢⵢⴰⵏ أولاد زيان,6397.546990
3,4,0.0,Ali Thelat,Lao,30.0,36.0,1935.0,248.0,POINT (291552.203 3902645.7),6200,9621657649,1003,village,0,Cherouta,4455.987302
4,5,0.0,El Kansra,Beht,266.0,68.0,1935.0,248.0,POINT (231563.411 3770603.407),965,1868853436,1003,village,0,El-Kansera du Beht ⵇⴰⵏⵚⵕⴰ القنصرة,1803.187914

In [93]:
# Extract desired columns
result = joined[['nom_barrag', 'name', 'population', "dist_to_ville"]]

In [94]:
# Optional: save to CSV
result.to_csv('dams_nearest_villes.csv', index=False)

In [ ]:
# Display the result (optional)
print(result.head())